.side-bar{
    // background-color: $footer-color;
    grid-area: sider;
    background-color: rgba($color: #000000, $alpha: 0.3);
    padding: 0 10px;
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__item{
        color: $main-color;
        font-size: 10px;
        margin: 2px auto;
        text-align: center;
    }
    &__item>a{
        text-decoration: none;
        color:$main-color;
    }
    &__item>a>img{
        width: 100%;
        border-radius: 10%;
        padding-bottom: 5px;
    }
}